
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main
{
    width: 550px;
    height: 550px;
    top: 64px;
    left: 62px;
    background: #1F2937;
}


.mysection
{
    width: 354px;
    height: auto;
    margin-top: 115px;
    margin-left: 52px;
}

h1
{
    font-family: Karla;
    font-size: 40px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: -0.025em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}
p
{
    width: 372px;
    height: 28px;
    margin-top: 10px;
    left: 52px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #D5D4D8;
}
.green-button
{
    width: 191px;
    height: 42px;
    margin-top: 3rem;
    padding: 9px 17px 9px 15px;
    gap: 12px;
    border-radius: 6px;
    opacity: 0px;
    background: #10B981;
    color: white;
    cursor: pointer;

}
hr
{
    width: 100%;
    
}
.passwords
{
 padding:3rem;
}
.passwords hr{ 
    border:#2F3E53 1px solid;
}
.container div
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%;
    margin-top: 2rem;
    border-radius: 6px;
    background-color:#273549;
}
.container div p
{
    display: flex;
    justify-content: center;
    align-items: start;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
    color: #55F991;
    margin-bottom: 0.5rem;
}
.white
{
    color: white;
}

.green
{
    color: #4adf86;
}
.h1-span
{
    white-space: nowrap;
}
.container
{
    display: flex;
    justify-content: space-between;
}